.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header_logo {
  flex-grow: 1;
}
.header_logo > img {
  height: 60px;
}
.header_nav {
  display: flex;
  justify-content: space-between;
}
.header_nav > h3 {
  cursor: pointer;
  padding: 0 25px 0 25px;
  letter-spacing: 2px;
}
.active {
  margin-bottom: 0;
  border-bottom: 1px solid black;
}
