.post_box {
  display: flex;
  flex-direction: column;
  margin: 3px;
}
.post_header {
  margin-top: 20px;
}
.post_header > h3 {
  letter-spacing: 3px;
  margin: 0;
}
.post_header > p,
.date {
  margin: 0;
  font-size: 12px;
  letter-spacing: 2px;
}
.post_body > img {
  flex: 0.5;
  width: 55vh;
}
.post_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.post_message {
  text-align: left;
}
