.suggest {
  display: flex;
  width: 98%;
  height: 10vh;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #e4dcdc;
  align-items: center;
  border: none;
}
.suggest > p {
  margin: 2px;
  font-weight: 800;
}
.suggest > img {
  max-width: 50px;
  flex: 0.3;
  margin: 2px;
}
